<!DOCTYPE HTML>
<html>
	<head>
		<title>Sinatra blog</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">Sinatra Blog</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a class="button special" href="/new_post_template">New post</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>The future Blog</h2>
							<p>It is the best blog in the world.<br />
							Design by Mikel Garcia.</p>
						</header>
						<span class="image"><img src="images/luffy.png" alt="" /></span>
					</div>
					<a href="#0" class="goto-next scrolly">Next</a>
				</section>

			<% @posts.each_with_index do |post, index| %>
				<section id="<%= index %>" class="spotlight style1 bottom">
					<span class="image fit main"><img src="images/pic0<%= rand(3) %>.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2><a href="/post_details_template/<%= index %>"><%= post.title %></a></h2>
										<p><%= post.author %></p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p><%= post.text %></p>
								</div>
							</div>
						</div>
					</div>
					<a href="#<%= index + 1 %>" class="goto-next scrolly">Next</a>
				</section>
			<% end %>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://twitter.com/Gartzia6" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/mikel.garciaurbina" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.linkedin.com/in/mikelgarciaurbina" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="https://github.com/mikelgarciaurbina" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="mailto:mikel_6@hotmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: Mikel Garcia</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>