<!doctype html>
<html>
  <head>     
    <title>Ironblog</title>
  </head>
  <body>
    <h1>New post</h1>
    <form action="/create_post" method="POST">
      <label for="title">Title</label>
      <br>
      <input id="title" type="text" name="title" placeholder="Title :)" value="<%= @title %>">
      <br>
      <label for="category">Category</label>
      <br>
      <input id="category" type="text" name="category" placeholder="Category :)" value="<%= @category %>">
      <br>
      <label for="author">Author</label>
      <br>
      <input id="author" type="text" name="author" placeholder="Title :)" value="<%= @author %>">
      <br>
      <label for="text">Text</label>
      <br>
      <textarea id="text" name="text" rows="4" cols="50"><%= @text %></textarea>
      <br>
      <button type="submit">Create post</button>
    </form>
    <p><%= @error %></p>
  </body>
</html>